.heading {
    color: rgb(52, 112, 185);
    text-align: center;
    text-transform: uppercase;
}
#box{
    font-family:'Times New Roman';
}
button{
    color: burlywood;
}
#outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
}